.CountriesData {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 412px;
    overflow: scroll;
    position: relative;
    top: -180px;
    margin-left: 20px;
    border-radius: 5px;

}