.LiveCasesCards {
    display: flex;
    padding: 0 1rem;
    box-sizing: border-box;
}

.RecoveryGraph {
    width: 289px;
    height: 320px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #1425401A;
    border-radius: 8px;
    opacity: 1;
    margin-top: 0.5rem ;
}

@media (max-width : 500px ) {
    .LiveCasesCards {
        flex-direction: column;
        flex-basis: 100%;
    }
}