.LiveCasesCards {
    display: flex;
    padding: 0 1rem;
    box-sizing: border-box;
}

@media (max-width : 500px ) {
    .LiveCasesCards {
        flex-direction: column;
        flex-basis: 100%;
    }
}