.WorldCasesData {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.WorldCasesCard {
    width: 350px;
    height: 412px;
    overflow: scroll;
    border-radius: 5px;
}

.FirstRow, .SecondRow ,.ThirdRow {
    display: flex;
    margin: 10px 0px;
    justify-content: space-evenly;
    align-items: center;
}
.ContainerTwo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width:500px) {
    .WorldCasesData {
        flex-direction: column;
    }
    .FirstRow, .SecondRow ,.ThirdRow {
        flex-direction: column;
    }
}